C2_Probabilistic_Models/02_Part_of_Speech_Tagging/data/* filter=lfs diff=lfs merge=lfs -text
C2_Probabilistic_Models/02_Part_of_Speech_Tagging/support_files/* filter=lfs diff=lfs merge=lfs -text
C2_Probabilistic_Models/03_Autocomplete/data/en_US.twitter.txt filter=lfs diff=lfs merge=lfs -text
C2_Probabilistic_Models/04_Word_Embeddings/support_files/* filter=lfs diff=lfs merge=lfs -text
C2_Probabilistic_Models/04_Word_Embeddings/data/tokenizer/* filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/02_Recurrent_Neural_Networks_for_Language_Modelling/predictions.npy filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/02_Recurrent_Neural_Networks_for_Language_Modelling/test_support_files/* filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/02_Recurrent_Neural_Networks_for_Language_Modelling/model.pkl.gz filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/02_Recurrent_Neural_Networks_for_Language_Modelling/data/shakespeare_data.txt filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/03_LSTMs_and_Named_Entity_Recognition/data/* filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/03_LSTMs_and_Named_Entity_Recognition/model.pkl.gz filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/04_Siamese_Networks/data/* filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/04_Siamese_Networks/support_files/* filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/04_Siamese_Networks/model.pkl.gz filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/04_Siamese_Networks/data/questions.csv filter=lfs diff=lfs merge=lfs -text
C3_Sequence_Models/04_Siamese_Networks/nltk_data/* filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/data/word2int_en.pkl filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/data/word2int_fr.pkl filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/data/embeddings_en.npz filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/data/embeddings_fr.npz filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/data/wmt19_can.txt filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/data/wmt19_ref.txt filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/data/wmt19_src.txt filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/model.pkl.gz filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/test_support_files/i_like_your_shoes_test filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/test_support_files/generate_sample_mock filter=lfs diff=lfs merge=lfs -text
C4_Attention_Models/01_Neural_Machine_Translation/test_support_files/i_eat_soup_test filter=lfs diff=lfs merge=lfs -text
